<header>Petshop K9</header>
<nav>

  <div>
   <button routerLink="/listar/pet">LISTAR PETS</button>
   <button routerLink="/editar/pet">EDITAR PETS</button>
   <button routerLink="/excluir/pet">EXCLUIR PETS</button>
   <button routerLink="/cadastrar/pet">CADASTRAR PETS</button>
  </div>

  <div>
   <button routerLink="/listar/pessoa">LISTAR PESSOAS</button>
   <button routerLink="/editar/pessoa">EDITAR PESSOA</button>
   <button routerLink="/excluir/pessoa">EXCLUIR PESSOA</button>
   <button routerLink="/cadastrar/pessoa">CADASTRAR PESSOA</button>
  </div>

  <div>
    <button routerLink="/listar/servico">LISTAR SERVIÇOS</button>
    <button routerLink="/editar/servico">EDITAR SERVIÇO</button>
    <button routerLink="/excluir/servico">EXCLUIR SERVIÇO</button>
    <button routerLink="/cadastrar/servico">CADASTRAR SERVIÇO</button>
   </div>




</nav>
<router-outlet></router-outlet>

<footer>Curitiba 2021</footer>


